.box {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1em;
    max-width: 1200px;
    padding: 1em;
    margin: 0 auto;
    font-size: 1.3em;
}

.cart {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart th,
.cart td {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

.cart th {
    text-align: left;
    font-weight: bold;
}

.cart td {
    text-align: left;
}

.title_box{
    text-align: center;
    margin: 0.5em;
    padding-bottom: 1em;
    font-size: 1.5em;
    color: var(--secondary-color);
}

.cart_totals {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
}

.cart_totals table {
    width: 100%;
    border-collapse: collapse;
}

.cart_totals th,
.cart_totals td {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

.cart_totals th {
    text-align: left;
    font-weight: bold;
}

.cart_totals td {
    text-align: center;
}

.price{
    display: flex;
    align-items: center;
}

@media (max-width: 480px){
    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 1em;
        padding: 1em;
        font-size: 1em;
    }
    
    .cart {
        border-radius: 3px;
        padding: 1em;
    }
    
    .cart th,
    .cart td {
        padding: 0.5em;
        border-bottom: 1px solid #ccc;
    }
    
    .title_box{
        margin: 0.5em;
        padding-bottom: 1em;
        font-size: 1.5em;
    }
    
    .cart_totals {
        border-radius: 3px;
        padding: 1em;
    }
    
    .cart_totals th,
    .cart_totals td {
        padding: 0.5em;
    }
    
}