.cards > h2 {
    text-align: center;
    margin-block: 1em;
    font-size: 2em;
    color: var(--secondary-color);
}
.list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-bottom: 8em;
}
